$primary: #009874;
$secondary: #fffff2;
$border: 5px solid $primary;
$black: #000;
$background: #fffff2;
$tertiary: #ff3300;

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

html {
  height: 100vh;
}

body {
  background: $background;
  color: $primary;
  font-family: 'Space Mono', sans-serif;
}

.full {
  padding-bottom: 50px;
}

.full::-webkit-scrollbar, .half--review::-webkit-scrollbar {
    width: 1em;
}
 
.full::-webkit-scrollbar-track, .half--review::-webkit-scrollbar-track {
    box-shadow: 0px 0px 1px $primary;
}
 
.full::-webkit-scrollbar-thumb, .half--review::-webkit-scrollbar-thumb {
  background-color: $primary;
}

a {
  color: $primary;
  font-weight: 200;
}

p {
  margin-top: 40px;
  padding: 0px 25px;
}

.p-cols {
  column-count: 2;
  font-size: 14px;
  text-align: left;
}

.main {
  border: $border;
  display: table;
  height: 90vh;
  position: relative;
  width: 95vw;

  @include centerer;
}

//col

.col {
  display: inline-block;
  float: left;
  height: 90vh;
  position: relative;
  width: 100%;
}

.logo-col, .menu-col {
  padding: 0px 25px;
}

.menu-col--no-border {
  .review-site-title {
    border-top: 0px;
    margin-top: 20px;
    padding-top: 0px;
  }
}

.menu-col .review-site-title {
  font-weight: 800;
}

.logo-col a {
  color: $primary;
  font-weight: 800;
  text-decoration: none;
}

.half {
  float: left;
  height: 90vh;
  width: 37.5%;
}

.left-col {
  float: left;
  height: 100%;
  width: 25%;
}

.half-col {
  float: left;
  height: 90vh;
  position: relative;
  width: 100%;
}

.full {
  float: left;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
  width: 75%;
}

.half--review {
  overflow-x: hidden;
  overflow-y: scroll;
}

.half--review h4 {
  margin-bottom: 10px;
}

.half--review__point p {
  margin-top: 15px;
}

.padded {
  padding: 25px;
}

.center {
  text-align: center;
}

.br {
  position: relative;
  &:after {
    border-right: $border;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: calc(100% - 2.5px);
    z-index: -1;
  }
}

.social {
  bottom: 25px;
  list-style-type: none;
  padding-left: 0px;
  position: absolute;
}

.social a {
  color: $tertiary;
}

.menu {
  color: $tertiary;
}

.menu li {
  line-height: 50px;
}

.menu li a {
  font-size: 20px;

  &.active {
    color: $tertiary;
  }
}

.hollow {
  color: $background;
  font-size: 50px;
  text-shadow: 0 -1px 0 $tertiary, 1px 0 0 $tertiary, 0 1px 0 $tertiary, -1px 0 0 $tertiary;
  text-transform: uppercase;
}

.hollow--sml {
  font-size: 30px;
}

.stamp {
  border: $border;
  background-color: $primary;
}

.stamp.rt {
  margin-top: 15px;
}

.stamp .hollow {
  display: inline;
  text-shadow: 0 -1px 0 $primary, 1px 0 0 $primary, 0 1px 0 $primary, -1px 0 0 $primary;
}

.latest-col .stamp {
  height: 10vh;
  line-height: 10vh;
}

.latest {
  height: 60vh;
  margin-top: 15px;
  overflow-y: scroll;
}

.latest-list {
  list-style-type: none;
  margin-top: 0px;
  overflow: hidden;
  padding-left: 0;
}

.latest-list__card {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  display: block;
  float: left;
  height: 10vw;
  position: relative;
  width: 33.333%;

  @include transition(0.3s);
}

.latest-list__card a {
  display: block;
  height: 100%;
  width: 100%;
}

.image--red {
  position: relative;

  &:after {
    background-color: $tertiary;
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    width: 100%;
  }
}

.latest-list__album-art {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  display: block;
  filter: grayscale(100%);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.latest-list__name {
  background: $black;
  bottom: 0px;
  color: $secondary;
  display: none;
  font-size: 14px;
  font-weight: 800;
  left: 0px;
  position: absolute;
  width: 100%;

}

.author {
  color: $secondary;
  background-color: $primary;
  display: inline-block;
  margin: 0px;
  padding: 0px 5px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0px;
  width: 50%;
}

.reviews-list li {
  border: 1px solid $primary;
  flex-grow: 1;
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 10px;
  min-height: 390px;
  position: relative;
  transition: .2s ease-in-out;
  width: 33.333%;

  &:hover {
    transform: scale(1.02);
  }
}

.reviews-list li {
  margin-bottom: 15px;
  min-height: auto;
  padding-bottom: 10px;
}

.reviews-list li a {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}


.reviews-list li b {
  color: $tertiary;
}

.reviews-list__thumb {
  clear: both;
  display: block;
  padding: 0px 10px;
}

.review-list__art {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  width: calc(100% - 30px);
}

.half__button {
  background-color: $primary;
  color: $secondary;
  display: none;
  font-size: 22px;
  margin-top: 10px;
  padding: 0px 5px;
}

.half__button--left {
  position: absolute;
  left: 20px;
}

.half__button--right {
  position: absolute;
  right: 20px;
}

.half__button--bottom {
  left: auto;
  position: relative;
  right: auto;
}

.album-art {
  filter: grayscale(100%);
  height: auto;
  margin-top: 25px;
  width: 50%;
}

.review-thumb {
  float: left;
  display: block;
  margin: 10px 0px;
  width: 33.333%;
}

.review-thumb img {
  margin: 0 auto;
  width: calc(100% - 50px);
}

.single-review__mobile-button {
  background-color: $primary;
  border: none;
  border-radius: 50%;
  bottom: 25px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: none;
  font-size: 30px;
  height: 50px;
  position: fixed;
  right: 25px;
  width: 50px;
}

.single-review__mobile-button:focus {
  outline: none;
}

.single-track__info,
.single-track__snapshot {
  display: block;
  float: left;
  padding: 0px 30px;
}

.single-track__info {
  margin-bottom: 25px;
  width: calc(35% - 60px);
  text-align: left;
}

.single-track__info .hollow {
  margin-bottom: 20px;
  margin-top: 20px;
}

.single-track__snapshot {
  width: calc(65% - 60px);
}

.single-track__snapshot h2 {
  font-size: 22px;
  margin-top: 45px;
}

.single-track__spotify {
  margin-top: 25px;
  padding: 0px 30px;
}

.single-track__body {
  text-align: left;
}

.single-track__body .hollow {
  background: $primary;
  display: inline-block;
  text-shadow: 0 -1px 0 $primary, 1px 0 0 $primary, 0 1px 0 $primary, -1px 0 0 $primary;
  margin-left: 25px;
  padding: 0px 25px;
}

.single-track__body .author {
  margin-left: 25px;
  margin-top: 30px;
}

.single-track__micro-review-list {
  column-count: 2;
  list-style-type: none;
  margin-top: 50px;
  padding-left: 0px;
}

.single-track__micro-review-list li {
  border-bottom: 5px dotted $primary;
  display: inline-block;
  padding: 15px 0px 7.5px 0px;
  text-align: left;
  width: 25vw;
}

.single-track__micro-review-list p {
  display: block;
  font-size: 12px;
  float: left;
  margin-top: 0px;
  width: 60%;
}

.single-track__micro-review-list h5 {
  display: block;
  clear: both;
  float: right;
  margin: 0;
}

.single-track__micro-review-list .rating {
  background: $tertiary;
  border-radius: 50%;
  color: $secondary;
  display: block;
  float: left;
  font-size: 18px;
  font-weight: 800;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.review-site-title {
  border-top: 1px solid $tertiary;
  margin-top: 50px;
  padding-top: 40px;
}

@media screen and (min-width: 1200px) {
  .review-list__art {
    max-width: 300px;
  }
}

@media screen and (max-width: 1999px) {
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .full::-webkit-scrollbar-track, .half--review::-webkit-scrollbar-track {
      box-shadow: 0px 0px 0px $primary;
  }

  body.home .half {
    height: calc(100vh - 196px);
  }

  .latest {
    height: 49vh;
  }

  .main {
    height: auto;
    min-height: 100%;
    transform: none;
    position: initial;
    width: auto;
  }

  .col {
    display: table-cell;
    padding: 0px;
    width: 100%;
  }

  .left-col {
    height: 170px;
    position: relative;
    width: 100%;
    
    &:before {
      border-bottom: $border;
      content: '';
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: -1;
    }
  }

  .br {
    &:after {
      display: none;
    }
  }

  .menu {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .menu li {
    display: inline-block;
  }

  .social {
    bottom: 10px;
    right: 25px;
  }

  .half {
    height: auto;
    width: 50%;
  }

  .full {
    overflow-y: visible;
    padding-bottom: 25px;
    width: 100%;
  }

  .review-template-default .left-col {
    height: auto;
  }

  .album-art {
    width: 180px;
  }

  body.page-template-page-about .container.main {
    width: auto;
  }

  .container.main {
    width: calc(100vw - 26px);
  }

  body.single-artist .left-col .logo-col {
    float: left;
    display: block;
    width: 80%;
  }
  

  body.single-artist .album-art,
  body.single-review .album-art {
    height: auto;
    margin-top: 0;
    width: 50%;
  }

  body.single-artist .left-col h1,
  body.single-review .left-col h1 {
    display: block;
    float: left;
    margin-bottom: 0px;
  }

  body.single-artist .left-col .logo-col h1:last-child,
  body.single-review .left-col .logo-col h1:last-child {
    margin-left: 10px;
  }

  body.single-artist .left-col .menu-col,
  body.single-review .left-col .menu-col {
    clear: both;
    display: block;
    float: left;
    width: 80%;
  }

  body.single-artist .full.center {
    height: calc(100vh - 222px);
  }

  body.single-review .container.main {
    overflow-x: hidden;
    width: auto;
  }

  body.single-review {
    overflow-x: hidden;
  }

  .half {
    width: 100%;
  }

  .half__button {
    display: inline-block;
  }

  .half--review .hollow {
    margin-top: 60px;
  }

  .half--review {
    padding: 10px 0px;
  }

  .single-review__mobile-button {
    display: block;
  }

  body.single-single .album-art {
    display: none;
  }

  body.single-single .container.main {
    width: calc(100vw - 42px);
  }
  
  .single-track__micro-review-list li {
    width: 35vw;
  }

  body.single-single .left-col .col {
    height: 0vh;
  }

  .review-site-title {
    border: none;
    margin-left: 0px !important;
    margin-top: 0px;
    padding-top: 0px;
  }

  .menu-col, .logo-col {
    clear: both;
    display: block;
    float: right;
  }

  .menu-col .review-site-title, .menu-col .menu {
    clear: both;
  }

  .menu-col .review-site-title {
    padding-top: 5px;
  }

  .container.main .left-col .col {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    padding-top: 10px;
  }

  .half-col {
    height: auto;
  }

  body.home .half {
    height: auto;
  }

  .reviews-list {
    width: 100%;
  }

  .single-template-default .left-col {
    height: auto;
  }

  body.single-artist {
    .logo-col__info {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {


  .container.main {
    width: auto;
  }

  body.home .half {
    height: auto;
  }

  .latest {
    height: auto;
  }

  .reviews-list {
    padding: 25px;
  }

  .reviews-list li {
    width: 75%;
  }
  
  .half--review {
    overflow-y: visible;
    z-index: 1;

    @include transition(0.45s);
  }

  .latest-list__card {
    height: 200px;
  }

  body.single-review .social {
    top: 0px;
  }

  .social {
    top: auto;
  }

  .single-track__micro-review-list {
    column-count: 1;
  }

  .single-track__micro-review-list li {
    width: 75vw;
  }

  .single-track__info,
  .single-track__snapshot {
    padding: 0px 25px;
    width: calc(100% - 50px);
  }

  .single-track__spotify {
    padding: 0px 25px;
    width: calc(100% - 50px);
  }

  .single-track__info {
    margin-bottom: 0px;
  }

  .single-track__snapshot {
    margin: 0px;
    margin-bottom: 15px;
  }

  .single-track__snapshot h2 {
    margin-top: 0px;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .main {
    border: none;
  }

  .padded {
    padding: 5px;
  }

  .logo-col, .menu-col {
    padding: 0px 5px;
  }

  .latest-list__card {
    height: calc(50vw - 30px);
    width: 50%;
  }

  body.single-artist {
    .review-thumb {
      height: calc(100vw - 15px);
      width:  calc(100vw - 15px);
    }
  }

  .social {
    bottom: auto;
    right: 5px;
    top: 20px;
  }

  .half.center {
    padding-bottom: 25px;
  }

  .reviews-list {
    padding: 0px;
  }

  .reviews-list li {
    margin: 0;
  }

  body.single-artist .left-col h1 {
    font-size: 24px;
  }

  body.single-artist .center h2 {
    margin: 40px 0px 30px;
  }

  .review-thumb {
    height: calc(100vw - 40px);
    margin: 0;
    width:  calc(100vw - 40px);
  }

  body.single-single .container.main {
    width: 100%;
  }

  .single-track__snapshot h2 {
    font-size: 18px;
  }

  .single-track__info .hollow.hollow--sml {
    margin-top: 0px;
    position: relative;
    top: -10px;
  }

  .reviews-list li {
    margin-bottom: 15px;
  }

  body.single-artist .album-art,
  body.single-review .album-art {
    width: 100%;
  }

  .single-track__info,
  .single-track__snapshot,
  .single-track__spotify {
    padding: 0px;
  }
  
  .single-track__spotify {
    width: 100%;
  }

  .single-track__body {
    text-align: center;
    .author {
      margin-left: 0px;
    }

    h1.hollow {
      margin-left: 0px;
    }
  }
}