$primary: #009874;
$secondary: #fff;
$border: 5px solid $primary;

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  height: 100vh;
}

body {
  color: $primary;
  font-family: 'Space Mono', sans-serif;
}

a {
  color: $primary;
}

.main {
  border: $border;
  display: table;
  height: 90vh;
  position: relative;
  width: 95vw;

  @include centerer;
}

//col

.col {
  display: block;
  float: left;
  padding: 25px;
  position: relative;
}

.left-col {
  border-right: $border;
  height: 100%;
  width: 25%;
}

.menu li {
  line-height: 50px;
}

.menu li a {
  font-size: 20px;
}