$primary: #009874;
$secondary: #fff;
$border: 5px solid $primary;

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  height: 100vh;
}

body {
  color: $primary;
  font-family: 'Space Mono', sans-serif;
}

.full::-webkit-scrollbar, .half--review::-webkit-scrollbar {
    width: 1em;
}
 
.full::-webkit-scrollbar-track, .half--review::-webkit-scrollbar-track {
    box-shadow: 0px 0px 1px $primary;
}
 
.full::-webkit-scrollbar-thumb, .half--review::-webkit-scrollbar-thumb {
  background-color: $primary;
}

a {
  color: $primary;
  font-weight: 200;
}

p {
  margin-top: 40px;
  padding: 0px 25px;
}

.p-cols {
  column-count: 2;
  font-size: 14px;
  text-align: left;
}

.main {
  border: $border;
  display: table;
  height: 90vh;
  position: relative;
  width: 95vw;

  @include centerer;
}

//col

.col {
  display: inline-block;
  float: left;
  height: 100%; 
  position: relative;
  width: 100%;
}

.logo-col, .menu-col {
  padding: 0px 25px;
}

.half {
  float: left;
  height: 100%;
  width: 37.5%;
}

.left-col {
  float: left;
  height: 100%;
  width: 25%;
}

.half-col {
  float: left;
  height: 100%;
  width: 100%;
}

.full {
  float: left;
  height: 100%;
  overflow-y: scroll;
  width: 74.5%;
}

.half--review {
  overflow-y: scroll;
}

.padded {
  padding: 25px;
}

.center {
  text-align: center;
}

.br {
  position: relative;
  &:after {
    border-right: $border;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: calc(100% - 2.5px);
    z-index: -1;
  }
}

.social {
  bottom: 25px;
  list-style-type: none;
  padding-left: 0px;
  position: absolute;
}

.menu li {
  line-height: 50px;
}

.menu li a {
  font-size: 20px;
}

.hollow {
  color: white;
  font-size: 50px;
  text-shadow: 0 -1px 0 $primary, 1px 0 0 $primary, 0 1px 0 $primary, -1px 0 0 $primary;
  text-transform: uppercase;
}

.stamp {
  border: $border;
  background-color: $primary;
}

.stamp .hollow {
  display: inline;
}

.latest-list {
  list-style-type: none;
  overflow: hidden;
  padding-left: 0;
}

.latest-list__card {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  display: block;
  float: left;
  height: 29vh;
  position: relative;
  width: 50%;
}

.latest-list__name {
  background: #000;
  bottom: 0px;
  color: #fff;
  font-weight: 800;
  left: 0px;
  position: absolute;
  width: 100%;
}

.author {
  color: #fff;
  background-color: $primary;
  display: inline-block;
  margin: 0px;
  padding: 0px 5px;
}

.reviews-list {
  list-style-type: none;
  padding-left: 0px;
}

.reviews-list li {
  border: 1px solid $primary;
  display: inline-block;
  margin-top: 10px;
  width: 33.333%;
}

.reviews-list li a {
  display: block;
  padding: 50px;
}

@media screen and (max-width: 1999px) {
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .main {
    height: auto;
    transform: none;
    position: initial;
    width: auto;
  }
  .col {
    display: table-cell;
    padding: 0px;
    width: 100%;
  }
  .left-col {
    height: 170px;
    width: 100%;
    
    &:before {
      border-bottom: $border;
      content: '';
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: -1;
    }
  }
  .br {
    &:after {
      display: none;
    }
  }
  .menu {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
  }
  .menu li {
    display: inline-block;
  }
  .social {
    bottom: 55px;
    right: 25px;
  }
  .half {
    height: auto;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .half {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .main {
    border: none;
  }
  .padded {
    padding: 5px;
  }
  .latest-list__card {
    width: 100%;
  }
}